<!-- template/main.html -->

{% extends "template.html" %}

{% block content %}
<h1 class="title">
  Hello {{ name }}, you managed to complete the sing-in process, HOORAY!!!!
</h1>
<h2 class="subtitle">
  You just viewed this page. Please check casandra to verify.
</h2>
{% endblock %}