<!-- template/template.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page View Logger Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('pages.main_page') }}" class="navbar-item">
                                Log Event
                            </a>
                            {% if current_user.is_authenticated %}
                           <a href="{{ url_for('pages.events_page') }}" class="navbar-item">
                                View Event
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                           <a href="{{ url_for('pages.login_page') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('pages.register_page') }}" class="navbar-item">
                                Register
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth_ui.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>